/* Universal Styles */

* {
  font-family: helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Header */










/* Main Container */




/* Section 1 */





/* Section 2 */






/* Section 3 */





/* Footer */
